

@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  scroll-behavior: smooth;
}

body{
  background-color: #181818;
  color: white;
  font-family: 'Syne Variable', sans-serif;
}

#container-books::-webkit-scrollbar{
  background-color: #181818;
  width: 8px;
  border-radius: 10px;
}

#container-books::-webkit-scrollbar-thumb{
  background-color: rgb(9, 9, 11);
  border-radius: 10px;
}

.grid-books{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(120px,1fr));
}



